<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="kr.or.phonejob.smart.s_Dao.s_ShopDao">

    <select id="s_selectPhoneList" resultType="kr.or.phonejob.smart.s_Dto.s_ShopDto">
        SELECT *
        FROM PHONE_DETAIL
    </select>

    <select id="s_selectPhoneDetail" resultType="kr.or.phonejob.smart.s_Dto.s_ShopDto">
        SELECT *
        FROM PHONE_DETAIL
        WHERE 1=1
        AND PHONE_SEQ=#{phone_seq}
    </select>


</mapper>