<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    작성자 : 이상원
    목적 : PC Shop메뉴 관련 Mapper
    작성일자 : 2017-10-04
-->

<mapper namespace="kr.or.phonejob.Dao.ShopDao">

    <select id="selectPhoneList" resultType="kr.or.phonejob.Dto.ShopDto">
        SELECT *
        FROM phone_detail
    </select>

    <select id="selectPhoneDetail" resultType="kr.or.phonejob.Dto.ShopDto">
        SELECT *
        FROM phone_detail
        WHERE 1=1
        AND PHONE_SEQ=#{phone_seq}
    </select>


</mapper>