<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="kr.or.phonejob.pc.Dao.ShopDao">

    <select id="selectPhoneList" resultType="kr.or.phonejob.pc.Dto.ShopDto">
        SELECT *
        FROM phone_detail
    </select>

    <select id="selectPhoneDetail" resultType="kr.or.phonejob.pc.Dto.ShopDto">
        SELECT *
        FROM phone_detail
        WHERE 1=1
        AND PHONE_SEQ=#{phone_seq}
    </select>


</mapper>